/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

#daisy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.daisy {
    width: 200px;
    height: 200px;
    background: url('daisy.png') no-repeat center center;
    background-size: contain;
    position: relative;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.petal {
    position: absolute;
    width: 20px;
    height: 80px;
    background: whitesmoke; /* Cambia el color de fondo a blanco */
    border-radius: 50% 50% 0 0; /* Deforma el pétalo para que tenga una parte superior redondeada y una parte inferior puntiaguda */
    transform-origin:  center;
    border: 2px solid black; /* Añade un borde negro de 2px */
    transform: scaleX(1.2); /* Escala el pétalo horizontalmente para darle una forma más triangular */
}

.last-petal {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Degradado de blanco a transparente */
    border: 2px solid black; /* Mantiene el borde negro */
    border-radius: 50% 50% 0 0; /* Mantiene la forma redondeada */
}

.center {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    background: yellow; /* Color de fondo para el centro de la margarita */
    border-radius: 50%; /* Hace que el elemento sea circular */
    border: 2px solid black; /* Añade un borde negro de 2px */
    position: absolute; /* Posiciona el elemento en el centro del contenedor */
    z-index: 1; /* Asegura que el centro esté por encima de los pétalos */
}
